/* LESS Document */
/* LESS Document */
/* Variables */
/* Colors */
/* Fonts */
/* LESS Document */
/* Mixins */
.roundBorders {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.textStyle {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ecf0f1;
}
body {
  margin: 0;
}
header {
  width: 100%;
  height: 122px;
  padding-top: 58px;
  background-color: #3498db;
}
header h1 {
  color: #75b9e7;
  margin: 0;
  font-size: 64px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #2791d9;
  margin-bottom: 25px;
}
nav ul {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
nav li {
  float: left;
  width: 25%;
}
nav a {
  display: block;
  width: auto;
  height: 39px;
  padding-top: 21px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ecf0f1;
}
nav a:link,
nav a:visited {
  text-decoration: none;
}
nav a:hover,
nav a:active {
  text-decoration: none;
  background-color: #3d9cdd;
}
nav .active:link,
nav .active:visited,
nav .active:hover,
nav .active:active {
  background-color: #258cd1;
}
main {
  width: 860px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 50px 50px 50px;
  margin-bottom: 25px;
  background-color: #f8f9fa;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
main h1 {
  font-family: 'Lato', sans-serif;
  color: #2ecc71;
}
main img {
  float: right;
  width: 50%;
  height: 80%;
  margin-left: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
main p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  color: #777777;
}
main ul {
  list-style-type: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #2ecc71;
  line-height: 2;
}
footer {
  width: 960px;
  height: 59px;
  margin: 0 auto;
  padding-top: 41px;
  background-color: #3498db;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ecf0f1;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
